
<section class="bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 col-md-6 sm-margin-30px-bottom ">
                <div class="counter-box">
                    <h4 class="countup text-white display-block xs-text-center">{{ content.area }}</h4>
                    <div class="separator-line-horrizontal-medium-light3 bg-white margin-15px-tb xs-margin-10px-tb opacity5 center-col"></div>
                    <p class="font-size24 sm-font-size20 xs-font-size16 font-weight-600 text-white no-margin text-center">Alan(m2)</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6 sm-margin-30px-bottom">
                <div class="counter-box">
                
                    <h4 class="countup text-white display-block xs-text-center">{{ content.rtMoney }}</h4>
                    <div class="separator-line-horrizontal-medium-light3 bg-white margin-15px-tb xs-margin-10px-tb opacity5 center-col"></div>
                    <p class="font-size24 sm-font-size20 xs-font-size16 font-weight-600 text-white no-margin text-center">Paranın Geri Dönüşümü (Yıl)</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <div class="counter-box">
                    
                    <h4 class="countup text-white display-block xs-text-center">{{ content.pPower }}</h4>
                    <div class="separator-line-horrizontal-medium-light3 bg-white margin-15px-tb xs-margin-10px-tb opacity5 center-col"></div>
                    <p class="font-size24 sm-font-size20 xs-font-size16 font-weight-600 text-white no-margin text-center">Projenin Gücü</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <div class="counter-box"> 
                    <h4 class="countup text-white display-block xs-text-center">{{ content.profit }}</h4>
                    <div class="separator-line-horrizontal-medium-light3 bg-white margin-15px-tb xs-margin-10px-tb opacity5 center-col"></div>
                    <p class="font-size24 sm-font-size20 xs-font-size16 font-weight-600 text-white no-margin text-center">Kazanç</p>
                </div>
            </div>
        </div>
    </div>
</section>
                        