        <!-- start about section -->
        <section>
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-md-12 sm-margin-50px-bottom xs-margin-30px-bottom">
                        <img src="{{ url_for('static', filename='img/SolarPanel/itl.cat_battery-wallpaper_3178356.png') }}" alt="" class="border-radius-5 box-shadow-primary" />
                    </div>

                    <div class="col-lg-7 col-md-12">

                        <div class="padding-30px-left sm-no-padding">
                            <h4 class="sm-margin-lr-auto xs-width-100">GES Sistemi</h4>
                            <p>Evinizi veya işletmenizi GES sistemine geçirmeniz,size ve dünyamıza çok iyi gelecek.</p>
                            <ul class="list-style-3">
                                <li>Kolay Başvuru</li>
                                <li>Hızlı İşlem</li>
                                <li>Güvenli Kurulum</li>
                                <li>Kısa Sürede Yatırımın Geri Dönüşü</li>
                                <li>Temiz Enerji</li>
                                
                            </ul>
                            <a class="butn theme margin-10px-top" href="{{ url_for('bilgilendirme', id=1) }}"><span>Daha Fazlası</span></a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- end about section -->