<!-- start blog section -->
<section>
    <div class="container">
        <div class="section-heading">
            <h3 class="title-style2">Our Blog</h3>
            <p class="width-55 sm-width-75 xs-width-95 center-col">Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia deserunt laborum Market.</p>
        </div>
        <div class="row">

            <!-- start blog -->
            <div class="col-lg-4 sm-margin-20px-bottom blog-style1">
                <div class="item text-center">
                    <div class="post-img">
                        <img src="img/blog/blog-7.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="tag alt-font font-weight-300">
                            <a href="blog-list-sidebar.html">Designing | <span class="font-size12 display-inline-block">02 May 2018</span></a>
                        </div>
                        <h5 class="margin-15px-bottom"><a href="blog-post.html">Designing work with us</a></h5>
                        <p>Dolorem ipsum quia dolor consectetur, amet adipisci velit, sed quia non eius numquam modi tempora.</p>
                        <a href="blog-post.html" class="read-more">Read more</a>
                    </div>
                </div>
            </div>
            <!-- end blog -->

            <!-- start blog -->
            <div class="col-lg-4 sm-margin-20px-bottom blog-style1">
                <div class="item text-center">
                    <div class="post-img">
                        <img src="img/blog/blog-8.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="tag alt-font font-weight-300">
                            <a href="blog-list-sidebar.html">Positive | <span class="font-size12 display-inline-block">11 April 2018</span></a>
                        </div>
                        <h5 class="margin-15px-bottom"><a href="blog-post.html">Always think be positive</a></h5>
                        <p>Consectetur dolorem ipsum quia dolor sit amet, adipisci velit, sed quia non numquam eius modi tempora.</p>
                        <a href="blog-post.html" class="read-more">Read more</a>
                    </div>
                </div>
            </div>
            <!-- end blog -->

            <!-- start blog -->
            <div class="col-lg-4 blog-style1">
                <div class="item text-center">
                    <div class="post-img">
                        <img src="img/blog/blog-9.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="tag alt-font font-weight-300">
                            <a href="blog-list-sidebar.html">Meeting | <span class="font-size12 display-inline-block">04 March 2018</span></a>
                        </div>
                        <h5 class="margin-15px-bottom"><a href="blog-post.html">Meeting with our clients</a></h5>
                        <p>Numquam dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                        <a href="blog-post.html" class="read-more">Read more</a>
                    </div>
                </div>
            </div>
            <!-- end blog -->

        </div>
    </div>
</section>
<!-- end blog section -->