        <!-- start contact section -->
        <section>
            <div class="container">
                <div class="row">
                    <!-- start contact form -->
                    <div class="col-lg-6 sm-margin-30px-bottom xs-margin-20px-bottom">
                        <div class="section-heading left">
                            <h4>Bize Ulaşın</h4>
                        </div>
                        <div class="contact-form-box margin-30px-top">
                            <form method="post" action="" class="">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" name="name" placeholder="İsim:" data-constraints="@LettersOnly @NotEmpty">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="phone" placeholder="Telefon Numarası:" data-constraints="@Phone">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="email" placeholder="Email:" data-constraints="@Email @NotEmpty">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea maxlength="50" name="message" rows="5" placeholder="Mesajınız:" data-constraints="@NotEmpty"></textarea>
                                    </div>
                                    <div class="mfControls col-md-12">
                                        <button type="submit" class="butn">Gönder</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end contact form  -->

                    <!-- start contact detail -->
                    <div class="col-lg-6">
                        <div class="contact-info-box padding-30px-left sm-no-padding">
                            <div class="row">
                                <div class="col-12">
                                    <a>  </a>
                                </div>
                                <div class="col-12">
                                    <div class="contact-info-section" style="margin-top:250px ;">
                                        <ul class="list-style-1 no-margin-bottom">
                                            <li>
                                                <p><i class="fas fa-map-marker-alt text-center"></i> <strong>Adres:</strong>Liman Mah.55.Sok.Tabur Apt. No:12/B Konyaaltı ANTALYA </p>
                                            </li>
                                            <li>
                                                <p><i class="fas fa-phone text-center"></i> <strong>Phone:</strong>(+90) 545 228 60 41</p>
                                            </li>
                                            <li>
                                                <p><i class="far fa-envelope text-center"></i> <strong>Email:</strong> <a href="javascript:void(0)">gqsolar.ao@gmail.com</a></p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end contact detail -->
                </div>
            </div>
        </section>
        <!-- end contact section -->