<!-- start slideshow-->
        <div class="container-fluid full-screen">
            <div class="row slider-fade">
                <div class="owl-carousel owl-theme width-100">
                    <div class="text-center item bg-img" data-overlay-dark="7" data-background="{{ url_for('static', filename='img/SolarPanel/teahub.io-solar-panel-wallpaper-1761672.jpg') }}">
                        <div class="absolute-middle-center caption">
                            <div class="overflow-hidden">
                                <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin"></h3>
                                <h1 class="text-white">Kolay Başvuru</h1>
                                <p class="margin-30px-bottom sm-margin-20px-bottom sm-display-none">Kolaylıkla Kendi Projenizi Oluşturun</p>
                                <a href="javascript:void(0);" class="butn medium theme">
                                    <span class="alt-font">Daha Fazlası</span><i class="fas fa-angle-right font-size16 sm-font-size14 text-white margin-10px-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center item bg-img" data-overlay-dark="6" data-background="{{ url_for('static', filename='img/SolarPanel/teahub.io-solar-energy-wallpaper-1762643 (2).jpg') }}">
                        <div class="absolute-middle-center caption">
                            <div class="overflow-hidden">
                                <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin"></h3>
                                <h1 class="text-white">Sağlam Ve Kaliteli Ürünler</h1>
                                <p class="margin-30px-bottom sm-margin-20px-bottom sm-display-none">Güneş panelleri, uzun süreli garantilere ve kullanım ömrüne sahip, sağlam ve güvenilir ürünlerdir.</p>
                                <a href="javascript:void(0);" class="butn medium theme">
                                    <span class="alt-font">Daha Fazlası</span><i class="fas fa-angle-right font-size16 sm-font-size14 text-white margin-10px-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center item bg-img" data-overlay-dark="6" data-background="{{ url_for('static', filename='img/SolarPanel/gold-coast-solar-panels.jpg') }}">
                        <div class="absolute-middle-center caption">
                            <div class="overflow-hidden">
                                <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin"></h3>
                                <h1 class="text-white">Yatırımın Hızlı Geri Dönüşü</h1>
                                <p class="margin-30px-bottom sm-margin-20px-bottom sm-display-none">Projenin Bitiminden Kısa Süre Sonra Yatırımınızın Geri Dönüşümü Mümkündür</p>
                                <a href="javascript:void(0);" class="butn medium theme">
                                    <span class="alt-font">Learn More</span><i class="fas fa-angle-right font-size16 sm-font-size14 text-white margin-10px-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end slideshow-->