<!-- Start Team Section -->
<section class="team">
    <div class="container">
        <div class="section-heading">
            <h3 class="title-style2">Our Team</h3>
            <p class="width-55 sm-width-75 xs-width-95 center-col">Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia deserunt laborum Market.</p>
        </div>
        <div class="row">

            <!-- start team member -->
            <div class="text-center col-lg-3 col-md-6 col-sm-12 sm-margin-20px-bottom">
                <div class="team-member-img">
                    <img class="img-responsive" src="img/team/team-06.jpg" alt="">
                </div>
                <div class="text-center margin-25px-top margin-15px-bottom  padding-15px-bottom border-bottom">
                    <div class="text-extra-dark-gray font-weight-600 text-uppercase font-size14 alt-font">Jamara Karle</div>
                    <div class="text-uppercase font-size11">Founder</div>
                </div>
                <div class="social-links">
                    <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                    <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                    <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a>
                    <a class="d-inline-block border-radius-100" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <!-- end team member -->

            <!-- start team member -->
            <div class="text-center col-lg-3 col-md-6 col-sm-12 sm-margin-20px-bottom">
                <div class="team-member-img">
                    <img class="img-responsive" src="img/team/team-05.jpg" alt="">
                </div>
                <div class="text-center margin-25px-top margin-15px-bottom  padding-15px-bottom border-bottom">
                    <div class="text-extra-dark-gray font-weight-600 text-uppercase font-size14 alt-font">Keir Prestonly</div>
                    <div class="text-uppercase font-size11">Co-Founder</div>
                </div>
                <div class="social-links">
                    <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                    <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                    <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a>
                    <a class="d-inline-block border-radius-100" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <!-- end team member -->

            <!-- start team member -->
            <div class="text-center col-lg-3 col-md-6 col-sm-12 xs-margin-20px-bottom">
                <div class="team-member-img">
                    <img class="img-responsive" src="img/team/team-07.jpg" alt="">
                </div>
                <div class="text-center margin-25px-top margin-15px-bottom  padding-15px-bottom border-bottom">
                    <div class="text-extra-dark-gray font-weight-600 text-uppercase font-size14 alt-font">Finley Walkeror</div>
                    <div class="text-uppercase font-size11">Developer</div>
                </div>
                <div class="social-links">
                    <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                    <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                    <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a>
                    <a class="d-inline-block border-radius-100" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <!-- end team member -->

            <!-- start team member -->
            <div class="text-center col-lg-3 col-md-6 col-sm-12">
                <div class="team-member-img">
                    <img class="img-responsive" src="img/team/team-08.jpg" alt="">
                </div>
                <div class="text-center margin-25px-top margin-15px-bottom  padding-15px-bottom border-bottom">
                    <div class="text-extra-dark-gray font-weight-600 text-uppercase font-size14 alt-font">Niamah Hower</div>
                    <div class="text-uppercase font-size11">Designer</div>
                </div>
                <div class="social-links">
                    <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                    <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                    <a class="d-inline-block margin-10px-right" href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a>
                    <a class="d-inline-block border-radius-100" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <!-- end team member -->

        </div>
    </div>
</section>
<!-- End Team Section -->