<!-- start testmonials section -->
<section class="parallax" data-overlay-dark="8" data-background="img/bg/bg7.jpg">
    <div class="container">
        <div class="section-heading">
            <h3 class="title-style2 white">What Our Client Say</h3>
        </div>
        <div class="owl-carousel owl-theme" id="testmonials-carousel">
            <div class="testmonial-single center-col width-65 sm-width-90">
                <p class="text-light-gray line-height-28">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                <h4 class="padding-30px-top xs-padding-20px-top text-white">Alivin Corondo</h4>
                <h6 class="margin-30px-bottom">Networking Lead</h6>
            </div>
            <div class="testmonial-single center-col width-65 sm-width-90">
                <p class="text-light-gray line-height-28">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                <h4 class="padding-30px-top xs-padding-20px-top text-white">Stepha Kruse</h4>
                <h6 class="margin-30px-bottom">Design Lead</h6>
            </div>
            <div class="testmonial-single center-col width-65 sm-width-90">
                <p class="text-light-gray line-height-28">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                <h4 class="padding-30px-top xs-padding-20px-top text-white">Dunican keithly</h4>
                <h6 class="margin-30px-bottom">Networking Lead</h6>
            </div>
        </div>
    </div>
</section>
<!-- end testmonials section -->