       <!-- start page title section -->
       <section class="page-title-section2 bg-img cover-background" data-overlay-dark="7" data-background="{{ url_for('static', filename='img/SolarPanel/{}'.format(img)) }}">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>{{ title }}</h1>
                </div>

            </div>

        </div>
    </section>
    <div class='container'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- end page title section -->
    </div>