<!-- start service section -->
<section class="bg-light-gray">
    <div class="container">
        <div class="section-heading">
            <h3 class="title-style2">Süreç</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                <div class="services-block-three">
                    <a href="javascript:void(0)">
                        <div class="padding-15px-bottom">
                            <i class="fa fa-calculator"></i>
                        </div>
                        <h4>Projelendirme</h4>
                        <p class="xs-font-size13 xs-line-height-22">{{ content.processOne|safe }}</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                <div class="services-block-three">
                    <a href="javascript:void(0)">
                        <div class="padding-15px-bottom">
                            <i class="fa fa-cog"></i>
                        </div>
                        <h4>Kurulum</h4>
                        <p class="xs-font-size13 xs-line-height-22">{{ content.processTwo|safe }}</p>
                    </a>
                </div>
            </div>
            <div class="services-block-three col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                <div class="services-block-three">
                    <a href="javascript:void(0)">
                        <div class="padding-15px-bottom">
                            <i class="fa fa-ellipsis-h"></i>
                        </div>
                        <h4>Kazanç</h4>
                        <p class="xs-font-size13 xs-line-height-22">{{ content.processTree|safe }}</p>
                    </a>
                </div>
            </div>
            <!-- end -->
        </div>

    </div>
</section>
<!-- end service section -->