
<div class="process-steps-xs">
    <ul class="left-holder row no-margin-bottom">
        <li class="col-6 col-md-3">
            <div class="process-step-xs center-holder">
                <div class="process-step-icon"><span class="text-theme-color alt-font font-size48 sm-font-size42 xs-font-size36 font-weight-700">01</span></div>
                <h3>Investment</h3>
            </div>
        </li>
        <li class="col-6 col-md-3">
            <div class="process-step-xs center-holder">
                <div class="process-step-icon"><span class="text-theme-color alt-font font-size48 sm-font-size42 xs-font-size36 font-weight-700">02</span></div>
                <h3>Strategist</h3>
            </div>
        </li>
        <li class="col-6 col-md-3">
            <div class="process-step-xs center-holder xs-no-margin-bottom">
                <div class="process-step-icon"><span class="text-theme-color alt-font font-size48 sm-font-size42 xs-font-size36 font-weight-700">03</span></div>
                <h3>Marketing</h3>
            </div>
        </li>
        <li class="col-6 col-md-3">
            <div class="process-step-xs center-holder xs-no-margin-bottom">
                <div class="process-step-icon"><span class="text-theme-color alt-font font-size48 sm-font-size42 xs-font-size36 font-weight-700">04</span></div>
                <h3>Insurance</h3>
            </div>
        </li>
    </ul>
</div>
                        