{% extends 'admin/based.html' %}
{% block body%}
<div class="main-wrapper">
    <div class="card card-white">
        <div class="card-heading clearfix">
            <h4 class="card-title">Ödüller</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Isim</th>
                        <th> Dosya</th>
                        <th><a href="{{ url_for('oduller_add') }}" class="btn btn-primary">Proje Ekle</a></th>
                    </tr>
                </thead>
                <tbody>
                        {% for m in model %}
                        <tr>
                            <th scope="row"><a>{{ m.id }}</a></th>
                            <td><a>{{ m.name }}</a></td>
                            <td><a>{{ m.file }}</a></td>
                            <td><a href="{{url_for('oduller_delete', id=m.id)}}" class="btn btn-danger">Sil</a>
                                <a href="{{url_for('oduller_update', id=m.id)}}" class="btn btn-warning">Güncelle</a></td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}