{% extends 'admin/based.html' %}
{% block body %}
{{ ckeditor.load() }}
<div class="card card-white">
    <div class="card-heading clearfix">
        <h4 class="card-title">OnGrid Text</h4>
    </div>
    <div class="card-body">
        <form action="" method="POST", class="needs-validation" novalidate>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    
                    <div class="form-grozp">
                        <label for="title">Başlık</label>
                        <input tybe="text" id="title" class="form-control"  value="{{ content.title }}" name="title">
                    </div>
                </div>
                <div class="form-group col-md-12 mb-3">
                    <label for="exampleFormControlTextarea1">Metin</label>
                     {{ ckeditor.create(value=content.text) }}
                </div>
                <input type="submit">
        </form>
    </div>
</div>
{% endblock%}