{% extends 'admin/based.html' %}
{% block body %}
<div class="main-wrapper">
    <div class="card card-white">
        <div class="card-heading clearfix">
            <h4 class="card-title">Basic example</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>Metin</th>
                        <th><a href="{{ url_for('mevzuat_add') }}" class="btn btn-primary">Mevzuat Ekle</a></th>
                    </tr>
                </thead>
                <tbody>
                        {% for m in model %}
                        <tr>
                            <th scope="row"><a>{{ m.id }}</a></th>
                            <td><a>{{ m.title }}</a></td>
                            <td><a>{{ m.text }}</a></td>
                            <td><a href="/admin/mevzuat/{{ m.id }}" class="btn btn-success">Bak</a>
                            <a href="/admin/mv-delete/{{ m.id }}" class="btn btn-danger">Sil</a>
                            <a href="/admin/mv-update/{{ m.id }}" class="btn btn-warning">Guncelle</a></td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}