{% extends 'admin/based.html'%}
{% block body %}

<div class="card card-white">
    <div class="card-heading clearfix">
        <h4 class="card-title">Proje Güncelle</h4>
    </div>
    <div class="card-body">
        <form method="POST", class="needs-validation" enctype = "multipart/form-data" novalidate>
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <lable for="name">Projenin Ismi</lable>
                    <input type="text" class="form-control" name="name" id="name" value="{{ model.name }}">

                    <lable for="location">Projenin Bölgesi</lable>
                    <input type="text" class="form-control" name="location" id="location" value="{{ model.location }}">

                    <lable for="area">Projenin ALanı(km2)</lable>
                    <input type="number" class="form-control" name="area" id="area" value="{{ model.area }}">

                    <lable for="exp">Açıklama 1</lable>
                    <input type="text" class="form-control" name="exp" id="exp" value="{{ model.explanation }}">

                    <lable for="grafic">Grafigin Aciklanmasi</lable>
                    <input type="text" class="form-control" name="grafic" id="grafic" value="{{ model.gExplanation }}">

                    <lable for="rtm">Paranın Geri Dönüşum Süresi (Yıl Bazında) </lable>
                    <input type="number" class="form-control" name="rtm" id="rtm" value="{{ model.rtMoney }}">
                    
                    <lable for="ppower">Kazanilan Güç</lable>
                    <input type="number" class="form-control" name="ppower" id="ppower" value="{{ model.pPower }}" >

                    <lable for="profit">Kazanilan Para</lable>
                    <input type="number" class="form-control" name="profit" id="profit" value="{{ model.profit }}" >

                    <lable for="photo">Fotoraf</lable>
                    <input type="file" class="form-controll" name="photo" id="photo" value="{{ model.img }}" placeholder="{{ model.img }}">
                    
                    <div style="width:200px; height:200px; float:right"><img src="{{ url_for('static', filename='img/{}'.format(model.img)) }}" alt="" class="display-inline-block"></div>
                    
                </div>
                <div class="col-md-4 mb-3">
                    <button type="Submit" class="btn btn-warning">Kaydet</button>
                </div>

            </div>
            
        </form>

    </div>
</div>

{% endblock %}