{% extends 'based.html'%}
{% block body %}

{% include 'sections/title.html' %}
{{ ckeditor.load()}}
<div class="container">
    <div id="accordion">
        {% for model in models %}
        <div class="services-single-right">
            <div class="row">
                <div class="col-12">
                    <div id="accordion" class="accordion-style">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ model.id }}" aria-expanded="true" aria-controls="collapseOne">
                            {{ model.title }}
                            </button>
                                </h5>
                            </div>
                            <div id="collapse{{ model.id }}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="desc">
                                        <div class="job-desc">
                                            <div class="inner-title half">
                                                <h5>Açıklama:</h5>
                                            </div>
                                            {{ model.text|safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>
        {% endfor %}
        </div>
      </div>
</div>
                
{% endblock %}