{% extends 'based.html' %}
{% block body %}
   {% include 'sections/title.html'%}
        <section>

            <div class="container">
                <div class="section-heading">
                    <h3>Başarılarımız</h3>
                </div>
            </div>

            <div class="container">

                <div class="row">


                    <div class="gallery text-center width-100">
                        {% for m in model %}
                        <div class="col-lg-4 col-md-6 margin-30px-bottom items design">
                            <div class="project-grid-style2">
                                <div class="project-details">
                                    <img src="{{url_for('static', filename='img/Oduller/{}'.format(m.file))}}" alt="">
                                    <div class="portfolio-icon">
                                        <a class="popimg" href="{{url_for('static', filename='img/Oduller/{}'.format(m.file))}}"><i class="fas fa-search-plus"></i></a>
                                    </div>
                                    <div class="portfolio-post-border"></div>
                                </div>
                                <div class="portfolio-title">
                                    <p style="font-weight:bold">Ödül:</p>
                                    <h4>{{m.name}}</h4>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
            
        </section>
{% endblock %}